.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__body,
.about-me > p {
  margin: 0;
}

.about-me__img {
  display: none;
}

.section__title--about {
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-column-gap: 3rem;
    grid-template-areas:
      "title"
      "subtitle"
      "text";
    grid-template-columns: 1fr 200px;
  }

  .section__title .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-area: subtitle;
    grid-column: -1 / 1;
    grid-row: 2;
    position: relative;
    left: -2rem;
    width: calc(100% + 4rem);
    padding-left: 2rem;
    padding-right: calc(200px + 4rem);
    align-self: center;
  }

  .about-me__body {
    grid-area: text;
    grid-column: -1 / 1;
  }
}
