.my-services {
    background-image: url('../../Assets/services-bg.jpg');
    background-size: cover;
    color: var(--color-light);
    text-align: center;
    background-color: var(--color-dark);
}

.services {
    max-width: 1200px;
}

.service {
    max-width: 400px;
    margin: 0 auto;
}

.section__title--services {
    color: var(--color-blue);
    
}

.section__title--services::after {
    content: "";
    display: block;
    width: 7rem;
    height: 1px;
    background-color: var(--color-light);
    margin: 24px auto;
    opacity: 0.5;
}

@media (min-width: 800px) {

    .services {
        display: flex;
        gap: 2.5rem;
        margin: 0 auto
    }

}